<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="widget">
                <div class="widget-title">
                    <i class="fa fa-users"></i> This week
                    <!--<input type="text" placeholder="Search" class="form-control input-sm pull-right">-->
                    <div class="clearfix"></div>
                </div>
                <div class="widget-body medium">
                    <div ui-calendar ng-model="vm.weekEvents"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="widget">
                <div class="widget-title">
                    <i class="fa fa-tasks"></i> Latest tasks
                    <!--<a href="#" class="pull-right">Manage</a>-->
                </div>
                <div class="widget-body medium no-padding">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr ng-repeat="to in vm.taskorders">
                                <td>{{to.name}}</td>
                                <td>{{to.assigmnentDate | date: 'shortDate'}}</td>
                                <!--<td><span class="text-success"><i class="fa fa-check"></i></span></td>-->
                                <!--<td><span tooltip="Server Down!" class="text-danger ng-scope"><i-->
                                <!--class="fa fa-warning"></i></span></td>-->
                                <!--<td><span tooltip="Could not connect!" class="text-warning ng-scope"><i-->
                                <!--class="fa fa-flash"></i></span></td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="widget">

            </div>
        </div>
    </div>
</div>