<div id="page-wrapper" ng-class="{'active': toggle}" ng-cloak>

    <!-- Sidebar -->

    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a ng-click="toggleSidebar()">
                    <span>Scanprint &#0153;</span><span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
            </li>
            <li class="sidebar-title"><span>NAVIGATION</span></li>
            <!--<li class="sidebar-list">-->
                <!--<a href="#">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>-->
            <!--</li>-->
            <!--<li class="sidebar-list">-->
                <!--<a href="#/tables">Tables <span class="menu-icon fa fa-tachometer"></span></a>-->
            <!--</li>-->
            <li class="sidebar-list">
                <a href="#">Task orders <span class="menu-icon fa fa-tasks"></span></a>
            </li>
            <!--<li class="sidebar-list">-->
                <!--<a href="#">Settings <span class="menu-icon fa fa-cogs"></span></a>-->
            <!--</li>-->
            <li class="sidebar-title separator"><span>QUICK LINKS</span></li>
            <li class="sidebar-list">
                <a href="#" target="_blank">Forums <span class="menu-icon fa fa-external-link"></span></a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <div class="col-xs-4">
                <a href="https://www.advitam-group.com" target="_blank">
                    Advitam
                </a>
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
                <a href="mailto:support@advitam-group.com">
                    Support
                </a>
            </div>
        </div>
    </div>

    <!-- End Sidebar -->

    <div id="content-wrapper">
        <div class="page-content">

            <!-- Header Bar -->

            <div class="row header">
                <div class="col-xs-12">
                    <div class="meta pull-left">
                        <div class="page">
                            {{rootCtrl.currentState().displayName}}
                        </div>
                        <div class="breadcrumb-links">
                            {{rootCtrl.currentState().name}}
                        </div>
                    </div>
                    <div class="user pull-right">
                        <div class="item dropdown">
                            <a href="#" class="dropdown-toggle">
                                <img src="img/avatar.jpg">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    Joe Bloggs
                                </li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a ng-click="rootCtrl.logout()">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="item dropdown">
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-bell-o"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    Notifications
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Server Down!</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End Header Bar -->

            <!-- Main Content -->
            <section class="dashboard-content" ui-view>content</section>

            <!--<section data-ui-view></section>-->
        </div>
        <!-- End Page Content -->
    </div>
    <!-- End Content Wrapper -->

</div>

