<div class="col-xs-12">
    <div ng-hide="vm.formsOnDisk.length">
        <p>no forms found.</p>
    </div>
    <accordion>
        <accordion-group ng-repeat="form in vm.formsOnDisk" heading="{{form.description}}">
            <p class="small"> {{form.date | date : 'fullDate'}}</p>

            <p ng-hide="form.isSyncing" class="small">{{form | syncInfo}}</p>

            <p ng-show="form.isSyncing" class="small"><i class="fa fa-refresh fa-spin"></i> synchronizing...</p>
            <ul>
                <li ng-repeat="question in form.questions">
                    {{question.description}}
                </li>
            </ul>
        </accordion-group>
    </accordion>
</div>