<div cg-busy="vm.query">
    <div class="row">
        <div class="col-md-3">
            <h2 style="margin-top:0px;">Event list</h2>

            <div ng-hide="vm.events">
                <p>No events found for this month.</p>
            </div>
            <div ng-show="vm.events">
                <ul class="nav nav-pills nav-stacked"
                    ng-repeat="eventGroup in vm.eventGroups">
                    {{eventGroup.date | date:'EEEE d'}}
                    <li ng-repeat="event in eventGroup.events">
                        <a ui-sref="dashboard.taskorder({id:event.id})">{{event.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-10">
                    <h2 style="margin-top:0px;">{{vm.currentDate | date: 'MMMM yyyy'}}</h2>
                </div>
                <div class="col-md-2 text-right">
                    <span>
                        <a class="btn btn-primary"
                                ui-sref="dashboard.calendar({year:vm.previousDate.getFullYear(), month:vm.previousDate.getMonth()})">
                            <li class="fa fa-arrow-left"></li>
                        </a>
                    </span>
                    <span>
                    <a class="btn btn-primary"
                            ui-sref="dashboard.calendar({year:vm.nextDate.getFullYear(), month:vm.nextDate.getMonth()})">
                        <li class="fa fa-arrow-right"></li>
                    </a>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div ui-calendar="vm.calendarOptions" ng-model="vm.eventSources" calendar="myCalendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>